Následující členové mají po termínu a nemají zaplaceno:
<style type="text/css">
    th {
        text-align:left;
    }
</style>
<table>
    <tr>
        <th>Datum příští platby</th>
        <th>Jméno a příjmení</th>
        <th>Krajské sdružení</th>
        <th>Telefon</th>
        <th>E-mail</th>
        <th>Datum notifikace</th>
        <th>Datum upomínky</th>
    </tr>
    {foreach $not_paid as $member}
        <tr>
            <td>{$member->date_next|date:'d.m.Y'}</td>
            <td>{$member->name} {$member->surname}</td>
            <td>{$member->area_name}</td>
            <td>{$member->phone}</td>
            <td><a href="mailto:{$member->username|lower}@pirati.cz">{$member->username|lower}@pirati.cz</a></td>
            <td>{$member->notification_sent|date:'d.m.Y'}</td>
            <td>{$member->reminder_sent|date:'d.m.Y'}</td>
        </tr>
    {/foreach}    
</table>
