Milí koordinátoři,<br />
níže uvedení členové již nejméně před týdnem obdrželi upomínku, ale členský příspěvek stále nedoplatili.<br />
Rozeberte si je, prosím, podle krajů a pokuste se provést retenci. Jinak jim hrozí ukončení členství
pro neplacení. Návod na platbu příspěvku je na <a href="https://www.pirati.cz/fo/navody/prispevek">https://www.pirati.cz/fo/navody/prispevek</a>. Číslo účtu je 2600643105/2010, VS a SS najdete i v níže uvedeném seznamu. Výši svého příspěvku si člen podle vlastní vůle stanoví v rozmezí 200 Kč až 49999 Kč.
<br />
<br />
<style type="text/css">
    th {
        text-align:left;
    }
</style>
<table>
    <tr>
        <th>Datum příští platby</th>
        <th>Jméno a příjmení</th>
        <th>Krajské sdružení</th>
        <th>Telefon</th>
        <th>E-mail</th>
        <th>VS</th>
        <th>SS</th>
    </tr>
    {foreach $not_paid as $member}
        <tr>
            <td>{$member->date_next|date:'d.m.Y'}</td>
            <td>{$member->name} {$member->surname}</td>
            <td>{$member->area_name}</td>
            <td>{$member->phone}</td>
            <td><a href="mailto:{$member->username|lower}@pirati.cz">{$member->username|lower}@pirati.cz</a></td>
            <td>{$member->phpbb_id}</td>
            <td>{$member->area_id}</td>
        </tr>
    {/foreach}    
</table>